* { box-sizing: border-box;}
* {box-sizing: border-box;}
body {background-color: #ffffff;}
:root {
  --primary-color: #2e2d40;
  --secondary-color: #d35400;
  --dark-grey: #afafb6;
  --href-color: #000000;
  --border-color: #000000;
  --header-color: #000000;
}
/* clolors used
text color (dark gray): #2b2b2b:
Primary Color (purple): #357b70:
Secondary color (orange): #e0b354:
*/

body {font-family: 'Raleway'; font-weight: 400;}

h1 { font-size: 40px;
  font-weight: 700;
  padding-top: 50px;
  white-space: nowrap;
  color: var(--header-color);
  }

h2 {font-size: 24px;
  font-weight: 700;}

h3 {font-size: 18px;
  font-weight: 700;}

.intro {font-size: 18px; font-weight: bold;}

.intro-2 {font-weight: bold;}

.intro, .intro-2{padding-top: 30px;}

a {color:black;}

a:visited {/* visited link*/ color: var(--href-color);}

a:hover, a:focus {/*no underlining when hovering overa link*/
  text-decoration: none;}

a:active {/* selected link */ color: #ffffff;}

button, .button { border: none; display: inline-block;
  font-family: inherit; background-color: var(--primary-color);
  color: white; text-decoration: none; padding: 10px; border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); transition: 0.2s opacity;}
button:hover, button:focus, .button:hover, .button:focus { cursor: pointer; opacity:0.8;}

.button_secondary { background-color: var(--secondary-color); color: var(--dark-grey);}

.button-section {text-align: center;}

.button-section {padding: 10px}

.page-header { border-bottom: 1px solid var(--border-color); background: #5b855d;}

.page-header__item { border-radius: 75%;}

.profile_portrait { float: left; width: 400px; margin-right: 70px;
  border-radius: 50%;}

.page-footer {clear: both; display: flex; flex-direction: column; text-align: center;}

.github{text-decoration: none;}

.profile { max-width: 700px; margin: 0 auto;}

.button-section { max-width: 700px; margin: 0 auto; border-left: 10px;}

.page-header { display: flex; width: 100%; padding: 20px;}

.page-header__item {flex: 0 1 200px;}

.page-header__item:last-child {flex-grow: 1; text-align: right;}

.navigation-list { list-style-type: none;}

.navigation-list li {display: inline-block; margin-left: 15px}

.work-page{ text-align: center;}

/* strart grid fallback*/

.grid__item {display: inline-block; width: 33%;}
/* end grid fallback*/
.projects {display: grid;}

.projects {margin: 0 3rem;}

.projects { display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;}

.grid__item {background-color: var(--dark-grey); min-height: auto;
  width: auto; margin: 0; padding: 10px}

.grid__item:last-child {grid-column: 3/3; grid-row: 1/3;}
   /*this secotion is for contact.html*/
.contact-header{text-align: center;}

.container-contact {display: grid; grid-template-columns: repeat(2,100px);
   justify-content: center; grid-gap: 10px; margin-right: 215px;}

.grid-about { align-self: center;}

.container-contact {text-align: center;}

.standard-label{font-weight: bold;}

.information-input {border: 2px solid #5b855d; border-radius: 10%; padding: 0.9em;}

.about-button{ text-align: center;padding-top: 10px;}

.standard-label {text-align: right;
width: 100px; display: inline-block;
font-weight: bold; color: var(--header-color);}

.about-button{padding-top: 20px;}
  /*this section is for about.html*/
.about-header{text-align: center;}

.introduction {clear: both;}

.introduction {text-align: center; margin: 0 3rem;}

.cv-button {text-align: center;}

.cv-button {padding-left: 30px;}

.introduction-list {list-style-type: none;}

.Little-Rock {max-width: 500px; margin: 0 auto;}

.Little-Rock {padding: 10px}

.sun {
  animation: 15s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;}

.wave {
  animation-duration: 10s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;}

.front-wave {
  animation-duration: 7s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;}

@keyframes color-change {0% {fill: #edc655;}
  50% {fill: #fcffad;} 100% {fill: #f76414;}}
@keyframes cloud-move {from {transform: translate(0, 50px); fill: #000080;}
  to {transform: translate(200px, 50px); fill: #0000ff}}
@keyframes cloud-move-reverse {from {transform: translate(250px, 48px); fill: #0000ff;}
  to {transform: translate(20px, 48px); fill: #0f0b75;}}

@media all and (max-width: 500px) {.projects {grid-template-columns: 1fr;}

@media all and (min-width: 500px) and (max-width: 750px)
 {.projects {grid-template-columns: 1fr 1fr;}

@media all and (max-width: 750px;) {.projects {grid-gap: 10px;} .grid__item:last-child
{grid-column: auto / auto; grid-row: auto / auto;} h1 { font-size: 22px;}}
