* { -webkit-box-sizing: border-box; box-sizing: border-box;}
* {-webkit-box-sizing: border-box;box-sizing: border-box;}
body, body {
color:#032539
}

.body_background{
  background-color: var(--light-white);  
  margin-bottom: 3rem;
}

:root {
  --primary-color: #032539;
  --secondary-color: #1c768f;
  --light-white: #fbf3f2;
  --href-color: #fa991c;
  --border-color: #000000;
  --header-color: #000000;
}

body {
  font-family: 'Raleway';
  font-weight: 400;
}

.profile-box { 
  /* border: 1px solid var(--secondary-color); */
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color) !important; 
  border-radius: 10px;
  display: block;
  text-align: center;
  width: 425px;
  padding-bottom: 5px;
  margin: 0 auto;
  
}

.profile_portrait {   
  display: block;
  width: 425px; 
  margin:0 auto;
  border-radius: 10px;
  border: 1px solid #ffffff;
  position: relative;
} 

h1{
  padding-left: 515px;
  margin-top: 75px;
}

h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

#welcome{
  font-size: 65px;
  color: var(--light-white) !important;
  
}

#signature{
  width: 25%;
}

section{
  padding-bottom: 4rem;
  padding-left: 1rem;
}

.intro {
  font-size: 18px; 
  font-weight: bold;
  border: 4px solid #ffffff;
  max-width: 336px;
  text-align: center;
  float:right;
}

.intro-2 {
  font-weight: bold;
}

a {
  color:var(--href-color);
}

a:visited {
  /* visited link*/ 
}

a:hover, a:focus {
  /*no underlining when hovering over a link*/
  text-decoration: none;
}

a:active {
  /* selected link */ 
  color: var(--light-white);
}

 .button { 
  border: none;
  display: inline-block;
  font-family: inherit; 
  background-color:#5b855d;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
  transition: 0.20s opacity;
}

button:hover, button:focus, .button:hover, .button:focus { 
  cursor: pointer; 
  opacity:0.75;
}

.button_secondary { 
  background-color: var(--secondary-color); 
  color: var(--dark-grey);
}

.button-section {
  text-align: center;
}

.button-section {
  padding: 10px;
}

/* .background { 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* .background {
  background: url("../img/littlerock.jpg");
} */

.page-header { 
  border-bottom: 1px solid var(--border-color); 
  margin-bottom: 15px;
  background: var(--primary-color);
  display: flex;
  width: 100%; 
  padding-right: 20px;
  font-weight: bold;
}

.page-footer {clear: both;
   display: flex;
  flex-direction: column; 
  text-align: center;
}

/* design for footer on Work page*/
.github{
  text-decoration: none; 
  color: black
}

.github:hover{ 
  opacity: 0.5;
}

.findme-footer{ 
  color:var(--primary-color);
  font-weight: bold;
}

.linkedin:hover{ 
  opacity:0.5;  
}

/* end of design for footer work page*/

.button-section { 
  max-width: 700px;
  margin: 0 auto;
  border-left: 10px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* navigation url designs in header */
.navigation-list { 
  list-style-type: none;
  font-size: larger;
  text-align: center;
}

.navigation-list li {
  display: inline-block;
   margin-left: 15px;
}

.navigation-list-items { 
  font-weight: bold;
  color: var(--href-color)
}
/* end of nav design */

/* start grid fallback*/

.grid__item {
  display: inline-block; 
  width: 33%;
}
/* end grid fallback*/

/* work page  */
.projects { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; 
  font-weight: bold;
  margin: 0 3rem;
}

.grid__item {
  min-height: auto;
  width: auto;
  margin: 0;
  padding: 10px; 
  border-radius: 10px;
  border:1px solid var(--secondary-color);
}

.grid__item:last-child {
  grid-column: 3/3; 
  grid-row: 1/3;
}

.find__me{
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

.contact__me{
  margin-top: 10px;
  text-align: center;
  border: none;
  margin-top: 15px;
  padding-top: 20px;
  font-family: inherit; 
  background-color:var(--secondary-color);
  color: var(--light-white) !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
  transition: 0.20s;
}

.contact__me:hover{ 
  opacity:0.5;  
}

.contact__me__button{
  text-align: center;

}

.project__text{
  text-align: center;
}

/* end of work */

.social-media{
  text-align: center;

}

/*this section is for contact.html*/
.contact-header{
  text-align: center;
}

.container-contact { 
  padding: 50px; 
  margin: 20px; 
  display: grid; 
  grid-template-columns: repeat(2,100px);
  justify-content: center; 
  grid-gap: 10px; 
}

.contact-button{
  display: block;
  border: none;
  margin-left: 30px;
  margin-top: 15px;
  padding-top: 20px;
  font-family: inherit; 
  background-color:var(--secondary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
  transition: 0.20s opacity;
}

.grid-about { 
  align-self: center;
}

.container-contact {
  text-align: center; 
  padding-bottom: 15px;
}

.standard-label{
  font-weight: bold;
}

.information-input {
  border: 2px solid var(--secondary-color);
  border-radius: 12px; padding: 0.9em;
  min-width: 211px;
}

.about-button{ 
  border: none;
  display: inline-flex;
  font-family: inherit; 
  background-color:var(--secondary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
  transition-duration: 0.4s;
  padding-top: -15px;
}

.standard-label {
width: 100px; 
display: inline-block; 
text-align: center;
font-weight: bold; 
color: #5b855d;
}

.standard-input{
  padding-right: 30px;
}

/* end of contact page */

/*this section is for about.html*/
.about-header{
  text-align: center;
}

.introduction {
  text-align: center; 
  margin: 0 3rem;
  clear: both;
}

.cv-button {
  text-align: center;
  padding-top: 8px;
}

.cv-button:hover{ 
  opacity:0.5;  
}


.introduction-list {
  list-style-type: none;
  line-height: 2.0;
  /* border: 1px solid var(--secondary-color); */
  border-radius: 10px;
  
  
  padding: 10px;
  font-weight: bold;
  max-width: 800px;
  display: inline-flex;
}

.Little-Rock {
  max-width: 500px; 
  margin: 0 auto;
}

.Little-Rock {
  padding: 10px;
}

.sun {
  animation: 15s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;}

.wave {
  animation-duration: 10s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;}

.front-wave {
  animation-duration: 7s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;}
/* this is the end of about.html*/

@keyframes color-change {
  0% {fill: #edc655;}50% {fill: #fcffad;} 100% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0, 50px); fill: #000080;}to {transform: translate(200px, 50px); fill: #0000ff}
}

@keyframes cloud-move-reverse {
  from {transform: translate(250px, 48px); fill: #0000ff;}to {transform: translate(20px, 48px); fill: #0f0b75;}
}

@media all and (max-width: 850px) {
  .projects {grid-template-columns: 1fr;}
}

@media all and (min-width: 300px) and (max-width: 750px){
   .projects { margin-left: 30px;} 
}

@media all and (max-width: 850px) { 
  .projects {grid-gap: 10px;} .grid__item:last-child{grid-column: auto / auto; grid-row: auto / auto;} h1 {font-size: 22px;}
}

@media screen and (max-width: 850px) {
  .profile_portrait, .profile-box, .projects {width: 300px;}
}
