/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* { -webkit-box-sizing: border-box; box-sizing: border-box;}
* {-webkit-box-sizing: border-box;box-sizing: border-box;}
body, body {
color:#032539
}

.body_background{
  background-color: var(--light-white);  
}

:root {
  --primary-color: #032539;
  --secondary-color: #1c768f;
  --light-white: #fbf3f2;
  --href-color: #fa991c;
  --border-color: #000000;
  --header-color: #000000;
}

body {
  font-family: 'Raleway';
  font-weight: 400;
}

.profile-box { 
  /* border: 1px solid var(--secondary-color); */
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color) !important; 
  border-radius: 10px;
  display: block;
  text-align: center;
  width: 425px;
  padding-bottom: 5px;
  margin: 0 auto;
  
}

.profile_portrait {   
  display: block;
  width: 425px; 
  margin:0 auto;
  border-radius: 10px;
  border: 1px solid #ffffff;
  position: relative;
} 

h1{
  padding-left: 515px;
  margin-top: 75px;
}

h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

#welcome{
  font-size: 65px;
  color: var(--light-white) !important;
  
}

#signature{
  width: 25%;
}

.intro {
  font-size: 18px; 
  font-weight: bold;
  border: 4px solid #ffffff;
  max-width: 336px;
  text-align: center;
  float:right;
}

.intro-2 {
  font-weight: bold;
}

a {
  color:var(--href-color);
}

a:visited {
  /* visited link*/ 
}

a:hover, a:focus {
  /*no underlining when hovering over a link*/
  text-decoration: none;
}

a:active {
  /* selected link */ 
  color: var(--light-white);
}

 .button { 
  border: none;
  display: inline-block;
  font-family: inherit; 
  background-color:#5b855d;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
  -webkit-transition: 0.20s opacity; 
  -o-transition: 0.20s opacity; 
  transition: 0.20s opacity;

}
button:hover, button:focus, .button:hover, .button:focus { 
  cursor: pointer; 
  opacity:0.75;
}

.button_secondary { 
  background-color: var(--secondary-color); 
  color: var(--dark-grey);
}

.button-section {
  text-align: center;
}

.button-section {
  padding: 10px;
}


/* .background { 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* .background {
  background: url("../img/littlerock.jpg");
} */

.page-header { 
  border-bottom: 1px solid var(--border-color); 
  margin-bottom: 15px;
  background: var(--primary-color);
}

.navigation-list-items { 
  font-weight: bold;
  color: var(--href-color)
}


.page-footer {clear: both;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
  text-align: center;
}

/* design for footer on Work page*/
.github{
  text-decoration: none; 
  color: black
}

.github:hover{ 
  opacity: 0.5;
}

.findme-footer{ 
  color:var(--primary-color);
  font-weight: bold;
}

.linkedin:hover{ 
  opacity:0.5;  
}

/* end of design for footer work page*/

.profile {
  max-width: 700px; 
  margin: 0 auto;
}

.button-section { 
  max-width: 700px;
  margin: 0 auto;
  border-left: 10px;
}

.page-header { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
   width: 100%; 
   padding-right: 20px;
   font-weight: bold;
   border-radius: 7px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation-list { 
  list-style-type: none;
  font-size: larger;
}

.navigation-list li {
  display: inline-block;
   margin-left: 15px;
}

.work-page{ 
  position: center;
}

/* start grid fallback*/

.grid__item {
  display: inline-block; 
  width: 33%;
}
/* end grid fallback*/

.projects { 
  display: -ms-grid; 
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; 
  font-weight: bold;
  margin: 0 3rem;
}

.grid__item {
  min-height: auto;
  width: auto;
  margin: 0;
  padding: 10px; 
  border-radius: 10px;
  border:1px solid var(--secondary-color);
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3/3; 
  -ms-grid-row: 1; 
  -ms-grid-row-span: 2; 
  grid-row: 1/3;
}

.find__me{
  font-weight: bold;
  margin-top: 15px;
}
.contact__me{

margin-top: 10px;
text-align: center;
border: none;
margin-top: 15px;
padding-top: 20px;
font-family: inherit; 
background-color:var(--secondary-color);
color: var(--light-white) !important;
text-decoration: none;
padding: 10px;
border-radius: 3px;
width: 150px;
border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
-webkit-transition: 0.20s; 
-o-transition: 0.20s; 
transition: 0.20s;
}

.contact__me:hover{ 
  opacity:0.5;  
}

.contact__me__button{
  text-align: center;

}

.project__text{
  text-align: center;
}

.find__me{
  text-align: center;
}

.social-media{
  text-align: center;

}

/*this section is for contact.html*/
.contact-header{
  text-align: center;
}


.container-contact { 
  padding: 50px; 
  margin: 20px; 
  display: -ms-grid; 
  display: grid; 
  -ms-grid-columns: 100px 10px 100px; 
  grid-template-columns: repeat(2,100px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
  grid-gap: 10px; 
}

.contact-button{
  display: block;
  border: none;
  margin-left: 30px;
  margin-top: 15px;
  padding-top: 20px;
  font-family: inherit; 
  background-color:var(--secondary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
  -webkit-transition: 0.20s opacity; 
  -o-transition: 0.20s opacity; 
  transition: 0.20s opacity;
}

.grid-about { 
  -ms-flex-item-align: center; 
      -ms-grid-row-align: center; 
      align-self: center;
}

.container-contact {
  text-align: center; 
  padding-bottom: 15px;
}

.standard-label{
  font-weight: bold;
}

.information-input {
  border: 2px solid var(--secondary-color);
  border-radius: 12px; padding: 0.9em;
}

.about-button{ 
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: inherit; 
  background-color:var(--secondary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
  -webkit-transition-duration: 0.4s; 
       -o-transition-duration: 0.4s; 
          transition-duration: 0.4s;

}

.standard-label {
width: 100px; 
display: inline-block; 
text-align: center;
font-weight: bold; 
color: #5b855d;
}

.standard-input{
  padding-right: 30px;
}

.about-button{
  padding-top: -15px;
}
  /*this section is for about.html*/
.about-header{
  text-align: center;
}

.introduction {
  text-align: center; 
  margin: 0 3rem;
  clear: both;
}

.cv-button {
  text-align: center;
  padding-top: 8px;
}

.cv-button:hover{ 
  opacity:0.5;  
}


.introduction-list {
  list-style-type: none;
  line-height: 2.0;
  /* border: 1px solid var(--secondary-color); */
  border-radius: 10px;
  
  
  padding: 10px;
  font-weight: bold;
  max-width: 800px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.Little-Rock {
  max-width: 500px; 
  margin: 0 auto;
}

.Little-Rock {
  padding: 10px;
}

.sun {
  -webkit-animation: 15s;
          animation: 15s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;}

.wave {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: cloud-move;
          animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;}

.front-wave {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-name: cloud-move-reverse;
          animation-name: cloud-move-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;}
/* this is the end of about.html*/

@-webkit-keyframes color-change {
  0% {fill: #edc655;}50% {fill: #fcffad;} 100% {fill: #f76414;}
}

@keyframes color-change {
  0% {fill: #edc655;}50% {fill: #fcffad;} 100% {fill: #f76414;}
}

@-webkit-keyframes cloud-move {
  from {-webkit-transform: translate(0, 50px);transform: translate(0, 50px); fill: #000080;}to {-webkit-transform: translate(200px, 50px);transform: translate(200px, 50px); fill: #0000ff}
}

@keyframes cloud-move {
  from {-webkit-transform: translate(0, 50px);transform: translate(0, 50px); fill: #000080;}to {-webkit-transform: translate(200px, 50px);transform: translate(200px, 50px); fill: #0000ff}
}

@-webkit-keyframes cloud-move-reverse {
  from {-webkit-transform: translate(250px, 48px);transform: translate(250px, 48px); fill: #0000ff;}to {-webkit-transform: translate(20px, 48px);transform: translate(20px, 48px); fill: #0f0b75;}
}

@keyframes cloud-move-reverse {
  from {-webkit-transform: translate(250px, 48px);transform: translate(250px, 48px); fill: #0000ff;}to {-webkit-transform: translate(20px, 48px);transform: translate(20px, 48px); fill: #0f0b75;}
}

@media all and (max-width: 850px) {
  .projects {-ms-grid-columns: 1fr;grid-template-columns: 1fr;}
}

@media all and (min-width: 300px) and (max-width: 750px){
   .projects { margin-left: 30px;} 
}

@media all and (max-width: 850px) { 
  .projects {grid-gap: 10px;} .grid__item:last-child{grid-column: auto / auto; grid-row: auto / auto;} h1 {font-size: 22px;}
}

@media screen and (max-width: 850px) {
  .profile_portrait, .profile-box, .projects {width: 300px;}
}